.ac-container{
	width: 860px;
}


.ac-container label{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: inherit;
	
	line-height: 33px;
	font-size: 15px;

}
.ac-container label:hover{
	background: #d9557a;
    color: #fff;
    border-radius: 10px;
    
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #d9557a;
	color: #fff;
    border-radius: 10px;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
    
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    border-radius: 10px;
}
.ac-container article p{
	color: #000;
	line-height: 20px;
	font-size: 17px;
	padding: 20px;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-1liner{
	height: 60px;
}
.ac-container input:checked ~ article.ac-2liner{
	height: 80px;
}
.ac-container input:checked ~ article.ac-3liner{
	height: 100px;
}
.ac-container input:checked ~ article.ac-4liner{
	height: 140px;
}

/*RESPONSIVENESS CODES OF THE PAGE WILL BE PLACED HERE*/
@media screen and (max-width: 414px) and (max-height: 736px) {

    /*Hide all the floating divs because it is not necessary on mobile view*/
    .ac-container{
		width: 100%;
    }
    
    .ac-container label{
    	display: block;
		height: 110px;
    }

    .ac-container input:checked ~ article.ac-small{
		height: 200px;
    }

    .ac-container input:checked ~ article.ac-medium{
		height: 300px;
	}
	
	.ac-container input:checked ~ article.ac-1liner{
		height: 100%;
	}
	.ac-container input:checked ~ article.ac-2liner{
		height: 100%;
	}
	.ac-container input:checked ~ article.ac-3liner{
		height: 100%;
	}
	.ac-container input:checked ~ article.ac-4liner{
		height: 100%;
	}

}
