*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
}

#wrapper
{
    background: white;
    width: 800px; 
    margin:10px auto;
    font-family: Times New Roman;
    font-size: 14px;
    text-align: justify;
    padding:15px;
    border-radius: 10px;
}

#wrapper h1
{
    font-family: Helvetica;   
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#wrapper article
{
    padding: 10px 0px 10px 0px;  
}

#wrapper article header
{
    font-size: 15.5px;
    font-weight: bold;
}

#wrapper ul{
    border-radius: 3px 3px 3px 3px;
    list-style: disc inside none;
    padding: 0px 10px 10px 10px;
}

#wrapper p
{
    margin-bottom: 10px;   
}

/* unvisited link */
#wrapper a:link {
    text-decoration: underline;
    color: red;
}

/* visited link */
#wrapper a:visited {
    text-decoration: underline;
    color: red;
}

/* mouse over link */
#wrapper a:hover {
    text-decoration: underline;
    color: red;
}

/* selected link */
#wrapper a:active {
    text-decoration: underline;
    color: red;
}

#wrapper hr
{
    margin-bottom: 10px;   
}